<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FFsmart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FFsmart.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="overflow-hidden" style="height: 5vh;">
        <nav class="navbar dark-txt fixed-top justify-content-between px-5">
            <a class="h4 invisible-link text-white fw-bolder m-0" asp-area="" asp-page="/Index">FFsmart</a>
            <div class="d-flex">
                @if (User.IsInRole("Admin"))
                {
                    <a class="invisible-link me-3" asp-page="/Admin/Admin"><i class="fa-solid fa-user-gear fa-lg"></i></a>
                }
                @if (User.IsInRole("HeadChef"))
                {
                <a class="invisible-link me-3" asp-page="/Records"><i class="fa-solid fa-clock-rotate-left fa-lg"></i></a>
                }
                <partial name="_LoginPartial" class="float-end" />
            </div>
        </nav>
    </header>
    <div class="container p-0 overflow-hidden">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="overflow-hidden fixed-bottom primary-bg" style="height: 5vh;">
        <div class="container d-flex justify-content-end px-5">
            <span class="fw-bold">Powered by&nbsp;</span>
            <span class="fw-bolder dark-txt">FFsmart</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/f2fedb9211.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>